@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora-font {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.199);
}





/* Shared styles */
button {
    padding: .5rem 2rem;
    font-size: medium;
    border: none;
    border-radius: .5rem;
}

.green-button {
    background-color: #179800;
    color: white;
}

.transparent-button {
    background-color: transparent;
    border: 1px solid #179800;
}

.green-text {
    background-color: #179800;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a:hover {
    border-bottom: 2px dashed #115414;
}
button:hover {
    box-shadow: 0 0 4px black;
    cursor: pointer;
}
i:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.pop-card:hover, 
.off-card:hover,
.ser-card:hover {
    /* border: 2px solid greenyellow; */
    box-shadow: 5px 5px 20px greenyellow;
    transform: translateY(-10px);

    transition: transform 100ms linear, box-shadow 100ms linear;
}






/* Header background */
header {
    background: linear-gradient(0deg, #EFEBE3, #FFFFFF);
    margin-bottom: 5rem;
}





/* Navbar related styles */
nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

nav div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav i {
    font-size: large;
    color: #179800;
}

.hamburger {
    display: none;
}





/* Hero section related styles */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    text-align: center;
    /* max-height: 40%; */
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: 500;
    max-width: 70%;
}

.hero-section p {
    font-weight: 300;
    max-width: 70%;
}

.hero-section img {
    width: 60%;
}





/* Services section styles */
.services-section {
    padding: 0 6rem;
    margin-bottom: 5rem;
}

.services-section h1 {
    margin-bottom: 1rem;
}

.ser-card-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.ser-card {
    background-color: #EFEBE3;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;

    padding: 1rem 2rem;
}

.ser-card-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ser-card p {
    font-weight: 300;
}





/* Popular product section styles */
.popular-section {
    background-color: #EFEBE3;
    padding: 5rem 2rem;

    margin-bottom: 5rem;
}

.popular-section>h1 {
    margin-bottom: 1rem;
}

.pop-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1rem;
}

.pop-card {
    background-color: white;
    padding: 0 .7rem;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.pop-card>.pop-card-img {
    background-color: #EFEBE3;
    height: 80px;
    width: 80px;
    border-radius: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-card>.pop-card-des>h4 {
    font-weight: 500;
}

.pop-card>p,
.pop-card>.pop-card-des>p {
    font-weight: 300;
}

.pop-card>.pop-card-des>.pop-card-rating {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.pop-card>.pop-card-des>.pop-card-rating>i {
    color: gold;
}

.pop-card-container> :first-child {
    align-items: start;
    flex-direction: column;

    padding: 2rem 1.5rem;

    background-image: url('./assets/vegetable-offer.png'), linear-gradient(120deg, #53DB3A, #FFFFFF);
    background-repeat: no-repeat;
    background-position: bottom right;

    grid-column: span 2;
    grid-row: span 3;
}

.pop-card-container> :first-child>h2 {
    color: white;
}

.pop-card-container> :first-child>button {
    align-self: flex-start;
    background-color: white;
}






/* offers section styles */
.offers-section {
    padding: 0 6rem;
    margin-bottom: 18rem;
}

.offers-section>h1 {
    margin-bottom: 1rem;
}

.off-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.off-card-container> :first-child {
    background-color: #115414;
    grid-column: span 3;
}

.off-card-container> :first-child button {
    background-color: #63B76D;
}

.off-card-container> :last-child {
    grid-column: span 2;
    background-color: #102861;
}

.off-card-container> :last-child button {
    background-color: #2A4D97;
}

.off-card {
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.off-card>.off-card-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.off-card>.off-card-des p {
    color: white;
}





/* Footer styles */
footer {
    position: relative;
    background-color: #179800;
    padding: 18rem 6rem 2rem;
}

.footer-form {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    background-color: #EFEBE3;
    border-radius: 1rem;
    padding: 2rem;
}

.footer-form>.footer-form-des {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-form>.footer-form-des input {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}


.footer-section {
    position: relative;
    color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-between;
}

.footer-section>.footer-left>p {
    margin-top: 1rem;
    font-weight: 300;
}

.footer-section>.footer-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section>.footer-mid>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-section>.footer-mid>ul>li>a {
    text-decoration: none;
    color: white;
}

.footer-section>.footer-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-section>.footer-right>.footer-right-logos {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}